header {
  width: 100%;
  height: 60px;
  box-shadow: 0px 0px 10px #eee;
  margin-bottom: 44px;
  position: sticky;
  z-index: 1;
  top: 0;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 26px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 1);
  nav {
    width: 1140px;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
    ul {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      li {
        position: relative;
        transition: var(--std-transition);
        a {
          transition: var(--std-transition);
          h1 {
            font-size: 29px;
            &:hover {
              text-shadow: 0px 0px 10px #c4c4c4;
            }
          }
          p {
            font-family: var(--title-font);
            text-transform: uppercase;
            font-weight: 600;
          }
          &:hover {
            opacity: 0.5;
          }
          span {
            margin-left: 4px;
          }
        }
        form {
          position: relative;
          display: flex;
          align-items: center;
          input[type="text"] {
            padding: 10px 29px 10px 16px;
            background-color: transparent;
          }
          button {
            position: absolute;
            right: 10px;
            background-color: transparent;
          }
          button[type="submit"] {
            font-size: 16px;
          }
        }
        .popup {
          display: none;
          position: absolute;
          width: 264px;
          background-color: white;
          padding: 10px 0;
          border-radius: 4px;
          box-shadow: 0 4px 26px rgba(0, 0, 0, 0.1);
          left: -100px;
          ul {
            li {
              padding: 10px 18px;
              width: 100%;
              &:hover {
                background-color: #eee;
                a {
                  opacity: 1;
                }
              }
            }
          }
        }
        &:hover .popup {
          display: block;
        }
      }
    }
  }
}
.main_content {
  .container {
    width: 1140px;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
}
footer {
  margin-top: 44px;
  background-color: #f7f7f7;
  box-shadow: 0px 0px 10px #eee;
  padding-bottom: 26px;
  ul {
    width: 1140px;
    /*height: 100%;*/
    padding: 0 15px;
    margin: 0 auto;

    padding-top: 44px;
    padding-bottom: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li.social {
      a {
        margin-left: 10px;
        font-size: 22px;
      }
    }
  }
  hr {
    border: 1px solid white;
  }
  ul.child_footer1 {
    li {
      a {
        text-decoration: none;
        color: #1773ea;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

//HIDE AND SHOW
li.publish,
li.saved,
li.logout,
li.personal {
  display: none;
}
li.publish.active,
li.saved.active,
li.logout.active,
li.personal.active {
  display: inline-block;
}
